@font-face {
    font-family: 'Yantramanav-Bold';
    src: url('../font/Yantramanav-Bold.ttf') format('ttf');
    src: url('../font/Yantramanav-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}